:root {
  --grain-color: #d7cdc7;
  --blackboard-color: #565656;
  --oxblood-color: #76323f;
}

.mastercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  text-align: center;
  height: 200px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header h1 {
  margin: 0px;
}

.new-book {
  background-color: var(--oxblood-color);
  color: white;
  width: 200px;
  height: 40px;
  align-self: center;
  margin-top: 10px;
  border-radius: 15px;
  font-size: 20px;
  border: none;
}

.new-book:hover {
  background-color: #b44f62;
}

.library-container {
  display: grid;
  height: 100vh;
  background-color: var(--grain-color);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr repeat(4, 4fr);
}

.sort-container {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
  font-weight: bold;
}

.vert {
  display: flex;
  flex-direction: column;
}

.sort-form {
  display: flex;
  gap: 20px;
  align-items: center;
}

.book-container {
  border: 4px solid var(--oxblood-color);
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15px repeat(4, 1fr);
  justify-items: center;
  background-color: white;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-container {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form {
  display: flex;
  gap: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.formpair {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pair {
  display: flex;
  align-items: center;
}

.submit button {
  background-color: var(--blackboard-color);
  color: white;
  border-radius: 10px;
  width: 70px;
  font-size: 18px;
  margin-top: 5px;
}

.submit button:hover {
  background-color: rgb(172, 169, 169);
}

.book-container div {
  color: var(--blackboard-color);
  font-size: 20px;
}

.book-container:hover {
  transform: scale(1.02);
}

.book-container img {
  justify-self: start;
  height: 30px;
  right: 150px;
}

.bookshelf img {
  height: 200px;
}

.sort-button button {
  background-color: var(--oxblood-color);
  color: white;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none:
}

.sort-button button:hover {
  background-color: #b44f62;
}

input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
